<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cater Mate Login</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css" />

    <style>
      input {
        background-color: rgb(243, 243, 243);
        border: none;
        border-radius: 5px;
        text-align: center;
        height: 30px;
        margin: 10px;
      }
    </style>
  </head>
  <body style="background-color: #ffc844">
    <div>
      <!-- <img
      style="
        display: block;
        margin: auto;
        width: 80px;
        height: 80px;
        text-align: center;
      "
      src="./images/pngkey.com-batman-head-png-5737221.png"
    /> -->

      <form
        style="
          width: 400px;
          height: 450px;
          background-color: white;
          box-shadow: 5px 5px #ebebeb;
          color: rgb(187, 185, 185);
          font-family: Arial, Helvetica, sans-serif;
          margin: -20px auto;
          padding-top: 100px;
          text-align: center;
        "
        action="order.html"
      >
        <h2 style="color: #35afc8">User Login</h2>
        <br />
        <br />
        <input id="username" type="text" placeholder="Username" /><br />
        <input id="password" type="password" placeholder="Password" /><br />

        <br />
        <input
          id="login"
          value="LOGIN"
          style="background-color: #35afc8; color: white"
          type="submit"
        /><br /><br />
        <!-- <a style="font-size: 75%; color: rgb(243, 56, 56)"> Forgot password?</a> -->
      </form>
    </div>
    <!-- <body style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
<h1>Cater Mate</h1>
<h2>Login</h2>
<form action="order.html">
    <label for="username">User Name</label>
    <input id="username" type="text" name="User Name" placeholder="Enter Your User Name" required />
    <pre></pre>
    <label for="pass">Password</label>
    <input id="pass" type="password" name="password" placeholder="Enter Your Password" required />
    <pre></pre>
    <select>
        <option value="option1">NE Mesa</option>
        <option value="option2">Gilbert</option>
    </select>
    <span>next to</span>
    <span>another span</span>
    <div>new div</div>
    <div>comment</div> -->
    <!-- <input type="submit"></input>
</form> -->
  </body>
</html>
