<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Cater Mate Update User</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Parisienne&family=Red+Hat+Mono:wght@300&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/styles.css"
      th:href="@{/css/styles.css}"
    />
  </head>

  <body>
    <div class="container">
      <h1 class="display-1 pt-5 mb-5">Cater Mate</h1>

      <div class="card mx-5">
        <h2 class="mt-5">Update User</h2>
        <hr />
        <div class="mx-5">
          <form
            class="d-flex flex-column align-items-center p-3"
            action="show_users.html"
            th:action="@{/saveUser}"
            th:object="${user}"
            method="POST"
          >
            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <input
              type="text"
              th:field="*{userName}"
              class="form-control mb-4 col-4"
            />

            <input
              type="text"
              th:field="*{password}"
              class="form-control mb-4 col-4"
            />

            <input
              type="text"
              th:field="*{privilege}"
              class="form-control mb-4 col-4"
            />
            <button type="submit" class="btn btn-info col-2">
              Update User
            </button>
          </form>
        </div>

        <hr />

        <div class="mb-3">
          <a href="show_users.html" th:href="@{/users}"> Back to Users List</a>
        </div>
      </div>
    </div>
  </body>
</html>
